
@media screen and (min-width:320px) and (max-width: 770px) {
    .col-carosel{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .col-carosel:first-child{
        align-self:center;
    }
    .col-carosel:last-child{
        align-self: flex-end;
    }
}

.col-carosel{
    padding-top: 65px;
    min-height:calc(60vh) !important;
    scroll-behavior: smooth;
    .carosel-div{
        overflow:scroll;
        overflow-y: hidden;
    }
    .button-group{
        display: flex;
        justify-content:center;
        button{
            margin: 0 1%;
            
        }
    }
}

.carosel-image-div{
    transform-style: preserve-3d;
    display: inline-flex;
    flex-direction: row;
    img{
        margin: 0% 1%;
        width: 85vw;
        max-height: 50vh;
    }

    img:first-child{
        margin-left: 2%;
        
    }
    img:last-child{
        margin-right: 2%;
        
    }
}


// .carosel-image-div img:nth-child(1){
//     transform: rotateY(140deg) translateZ(288px);
// }

// .carosel-image-div img:nth-child(2){
//     transform: rotateY(0) translateZ(288px);
// }

// .carosel-image-div img:nth-child(3){
//     transform: rotateY(-140deg) translateZ(288px);
// }

.carosel-div::-webkit-scrollbar{
    width: 0;
    background:transparent;
}
.carosel-div{
    -ms-overflow-style: none;
    scrollbar-width: none;
    perspective: 1000px;
}

.col-disp-area{
    min-height:calc(40vh - 10px) !important;
    height:fit-content;
   // background-color: aliceblue;
}

.active{
    background-color: yellow;
}

.disp-div{
    ul{
        list-style-type: none;
    }

}


