<div class="container-xl">
  <div class="row">
    <div class="col-carosel col-12 carosel-col">
      <div class="carosel-div">
        <div class="carosel-image-div">
          <img
            *ngFor="let project of projectArray"
            src="{{ project.display_pic }}"
            id="{{ project.tag }}"
          />
        </div>
      </div>

      <div class="carosel-botton">
        <div class="button-group">
          <button
            *ngFor="let project of projectArray"
            [ngClass]="{ active: isActive(project.tag) }"
            (click)="goDown(project.tag, project)"
            type="button"
            class="btn btn-light"
          ></button>
        </div>
      </div>
    </div>

    <div class="col-disp-area col-12">
      <div class="disp-div" style="color:white">
        <ul [innerHTML]="projectDiscriction">

        </ul>
      </div>
    </div>
  </div>
</div>
