<div class="container-xl">
    <div class=" row min-vh-100" id="trigger-bottom">
        <div class="col-12 welcome" *ngIf="display_msg != 'null'">
            <div class="underline-aff">
                <h1 class="wtext" >
                    {{display_msg}}
                </h1>

                
            </div>
            
        </div>

        <div class="col-12 intro"  *ngIf="display_msg === 'null'">
            <div class="underline-aff">
                <p class="intro-text">
                    Hi,This is Mouli <br>
                    A "MEAN" Developer.
                </p>
            </div>
        </div>
    </div>


       
    <div class="row min-vh-100" id="hov-eff-about"data-aos="flip-left" data-aos-delay="500" data-aos-anchor="#trigger-bottom" data-aos-anchor-placement="bottom-center" >
        <!-- <div class="col-12"> -->
            <!-- <ul class="nav justify-content-end">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Active</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled">Disabled</a>
                </li>
            </ul> -->
        <!-- </div> -->
        <div class="col-12 col-xl-4 img-col">

            <div class="center-div">
                <img src="../../assets/profile.jpg" alt="profile">
                <div class="h4-text">
                    <h4 class="ms-auto me-auto mt-3">{{details?.name}}</h4>
                </div>
            </div>
            
        </div>
        <div class="col-12 col-xl-8 img-col">
            <div class="center-div-abt">
                <p>
                    <!-- Mouli is an aspiring and visonary individual currently pursuing his graduation 
                    in Electronic and Communication at Raghu Engineering College from city 
                    of Desitiny - Visakhapatnam.He is a fast learner and software developer
                    enthusiast and loves building project.  
                                                         -->
                    {{details?.profile_data}}
                </p>      
                <div style="right: 0%; left: auto;">
                    - {{details?.name}}
                </div>
            </div>
                
        </div>
    </div>
</div>
