<div class="container-xl">
    <div class=" row min-vh-100" id="trigger-bottom">
        <div class="col-12 welcome">
            <div class="underline-aff">
                <h1 class="wtext">
                    WelCome
                </h1>
            </div>
            
        </div>
    </div>


    <div class="row min-vh-100" id="hov-eff-about"data-aos="flip-left" data-aos-delay="500" data-aos-anchor="#trigger-bottom" data-aos-anchor-placement="bottom-center" >
       
        <div class="col-12 col-xl-4 img-col">

            <div class="center-div">
                <img src="../../assets/profile.jpg" alt="profile">
                <div class="h4-text">
                    <h4 class="ms-auto me-auto mt-3">Sai Mouli Bandari</h4>
                </div>
            </div>
            
        </div>
        <div class="col-12 col-xl-8 img-col">
            <div class="center-div-abt">
                <p>
                    Mouli is an aspiring and visonary individual currently pursuing his graduation 
                    in Electronic and Communication at Raghu Engineering College from city 
                    of Desitiny - Visakhapatnam.He is a fast learner and software developer
                    enthusiast and loves building project.  
                                                        
                </p>      
                <div style="right: 0%; left: auto;">
                    - Sai Mouli Bandari
                </div>
            </div>
              
        </div>
    </div>
</div>
