
*{
    font-family:monospace;
}

@media screen and (max-width: 1030px) {
    img{
        max-width: 500px;
        width: 100% !important;
    }
    .img-col{
        display: flex;
        justify-content: center;
        .center-div{
           
            align-self:flex-end;
        }
    }
    
}

@media screen and (min-width : 1030px) and (max-width: 1440px) {
    .img-col{
        display: flex;
        justify-content: center;
        .center-div{
            align-self: center;
        }
        .center-div-abt{
            align-self: center;
        }
    }
    img{
        max-width: 300px;
    }
}


.welcome{
    display: grid;
    align-items: center;
    justify-content: center;
    
        .underline-aff{
            background-image: linear-gradient(90deg, red, blue, yellow);
            background-size: 0% 3px;
            background-repeat: no-repeat;
            background-position:bottom left;
            transition: background-size ease-in 700ms;
            width: fit-content;

            .wtext{
                font-size: 15vw;
                width: fit-content;
                background: linear-gradient(45deg, purple, yellow, darkblue);
                background-clip: text;
                color: transparent;
                margin-top: 60px;
                opacity: 0.3;
                transition: opacity ease-in 1s;
            }
        }
    

        .underline-aff:hover{
            .wtext{
                // background: linear-gradient(45deg, purple, yellow, darkblue);
                // background-clip: text;
                // color: transparent;
                opacity: 1;
            }
            background-size: 100% 4px;                
        }
}



img{
    min-width: 300px;
    width: 100%;
}
h4{
    width:fit-content;
    background-image:linear-gradient(90deg,yellow,red,blue);
    background-size: 100% 3px;
    background-repeat: no-repeat;
    background-position: center bottom;
    transition: background-size ease-out 700ms;
}

.h4-text{
    height: 50px;
    overflow: hidden;
    width: 0%;
    white-space:nowrap;
    transition: width ease-in-out 1500ms;
}

#hov-eff-about:hover{
    
    // h4{
    //     //width: 100%;
    //     background-size: 100% 3px;
    // }

    .h4-text{
        width: 100%;
    }
}

