<div class="container-lg resume-margin" download>
    <div class="row main-row">
        <div class="row about-section">
            <div class="col-8">
                <div class="details">
                    <ul class="name-contacts">
                        <li>
                            <h2>
                                {{ my.about.name }}
                                {{ my.about.surname }}
                            </h2>
                        </li>
                        
                        <li>
                            <h4>{{ my.about.designation }}</h4>
                        </li>

                        <li *ngFor="let contact of my.about.contacts" class="{{ contact.type }}">
                            <a target="_blank" href="mailto:{{contact.data}}" *ngIf="contact.type === 'email'">{{ contact.data }} <br> </a> 
                            <a target="_blank" href="tel:{{contact.data}}" *ngIf="contact.type === 'phone'">{{ contact.data }}</a>
                            <a target="_blank" href="https://www.linkedin.com/in/saimouli03/" *ngIf="contact.type === 'linkedIn'">{{ contact.data }}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-4">
                <div class="outer-profile">
                    <div class="inner-profile">
                        <img src="../../assets/no-profile-pic.png" alt="" width="150px" height="130px">
                    </div>
                </div>
            </div>
        </div>

        <div class="row bio">
            <div class="col-12 col-md-7 max-width">
                <div class="row">
                    <div class="col-12 intro">
                        <p class="about-bio">
                            {{my.about.bio}}
                        </p>
                    </div>
                </div>
                <div class="row">
                    <ul class="work-exp">
                        <li>
                            <p class="header">Work Experience</p>
                        </li>
                        <li *ngFor="let exp of my.work_exp">
                            <p class="small-header">{{ exp.tag }}</p>
                            <p class="sub-header">{{ exp.period }} | {{ exp.company }}</p>
                            <p class="body">{{ exp.work }}</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-md-5 nib-width">
                <ul>
                    <li>
                        <p class="header">Education</p>
                    </li>
                    <li *ngFor="let edu of my.education">
                        <p class="small-header">{{ edu.degree }}</p>
                        <p class="body">{{ edu.peroid }} | {{ edu.insitute }}</p>
                    </li>
                </ul>

                <ul>
                    <li>
                        <p class="header">Personal Skills</p>
                    </li>
                    <li *ngFor="let skill of my.personal_skill">
                        <p class="sub-header">{{ skill.name }}</p>
                        <fa-icon [icon]="star" *ngFor="let i of startsArray(skill.rating)"></fa-icon>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>