* {
    // font-family:palation;
    font-family: cursive;
    font-weight:600;
}

.resume-margin {
    
    box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.122);
    padding-top: 65px;
    // height: 860px;
    max-width: 768px;
    @media screen and (min-width: 600px){
        // width: 570px;
        // width: 800px;
        
        .about-section {
            height: 277px;
    
            .details {
                width: 5˛00px;
                height: 277px;
                background-color: rgb(238, 199, 194);
                color: black !important;
                font-size: 20px;
            }
    
            img {
                width: 240px;
                height: 225px;
                transform: translateX(-100px) translateY(25px);
            }
        }
       
        .bio {
            padding: 50px;
    
            .intro {
                padding : 0;
            }
        }
    }

    @media screen and (max-width : 430px) {
        padding: 0;
        padding-top: 65px;
        .main-row{
            margin: 0;
        }
        .about-section {
           
    
            .details {
                width: 70vw;
                height: 200px;
                background-color: rgb(238, 199, 194);
                color: black !important;
                font-size: 16px;
            }
    
            img {
                width: 130px;
                height: 125px;
                transform: translateX(-10px) translateY(30%);
            }
            
        }

       ul.work-exp{
            padding: 0 12px;
       }

        .header{
            font-size: 20px;
            color: aqua;
        }
        

    }
   
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li{
        
        .header{
         font-size: 23px;
         color: rgb(183, 182, 182);
        }

        .small-header{
            font-size: 20px;
            margin: 0;

        }
        .sub-header{
            margin: 0 0 5px;
        }
    }
}

ul.name-contacts {
    padding: 20px;
    li>a{
        text-decoration: none;
        color: black;
    }
}
fa-icon{
    color: rgb(255, 239, 63);
}